<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Dashboard Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="container my-2">
        <h1>Daftar Anggota Perpustakaan</h1>
		<a th:href="@{/}" class="btn btn-success btn-sm mb-3"> Home</a>
        <a th:href="@{/addAnggota}" class="btn btn-primary btn-sm mb-3"> Tambah Data </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Tempat Lahir</th>
                    <th>Tanggal Lahir</th>
                    <th>Email</th>
                    <th>JK</th>
                    <th>Kelas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="anggota : ${listAnggota}">
                    <td th:text="${anggota.nama}"></td>
                    <td th:text="${anggota.tplhr}"></td>
                    <td th:text="${anggota.tglhr}"></td>
                    <td th:text="${anggota.email}"></td>
                    <td th:text="${anggota.jk}"></td>
                    <td th:text="${anggota.kelas}"></td>
                    <td> 
                    	<a th:href="@{/editAnggota/{id}(id=${anggota.id})}" class="btn-sm btn-primary">Update</a>
                        <a th:href="@{anggota/deleteAnggota/{id}(id=${anggota.id})}" class="btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>