<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Dashboard Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Sistem Pengelolaan Anggota Perpustakaan</h1>
        <hr>
        <h2>Tambah Anggota</h2>

        <form action="#" th:action="@{/saveAnggota}" th:object="${anggota}" method="POST">
            <input type="text" th:field="*{nama}" placeholder="Nama" class="form-control mb-4 col-4" th:required="required">

            <input type="text" th:field="*{tplhr}" placeholder="Tempat Lahir" class="form-control mb-4 col-4" th:required="required">
            
            <input type="date" th:field="*{tglhr}" placeholder="Tanggal Lahir" class="form-control mb-4 col-4" th:required="required">
            
            <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4" th:required="required">

            <select th:field="*{jk}" class="form-control mb-4 col-4">
			    <option th:value="'L'" th:text="Laki-Laki"></option>
			    <option th:value="'P'" th:text="Perempuan"></option>
			</select>

            <input type="text" th:field="*{kelas}" placeholder="Kelas" class="form-control mb-4 col-4" th:required="required">

            <button type="submit" class="btn btn-info col-2"> Simpan Data</button>
        </form>

        <hr>

        <a th:href="@{/anggota}"> Daftar Anggota</a>
    </div>
</body>

</html>